body {
    overflow-x: hidden;
}

h1 {
    color: rgb(26,176,219);
    font-family: "Jersey 25", sans-serif;
    font-weight: 400;
    font-style: normal;
}

p {
    font-family: "Jersey 25", sans-serif;
    color: white;
}

.sidebar {
    
}

#mainSection {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0 10% 0 10%;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)) , url(images/secondbg.webp);
    background-size: cover;
    background-position: center;
}

#mainSection > div {
    padding: 10% 7% 10% 7%;
    text-align: center;
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#mainSection > div > img {
    position: absolute;
    height: 20%;
    animation-name: fade-in;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes fade-in {
    from {top: -100px; opacity: 0;}
    to {top: 150px; opacity: 1;}
}

section {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
}


.LeftSide {
    background-color: #1AB0DC;
}

.RightSide {
    background-color: #A11051;
}

.chart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.content {
    color: #666;
    max-height: 0;
    visibility: hidden;
    overflow: auto;
    padding: 0 20px;
    opacity: 0;
    transition: 0.5s;
    width: 100%;
}

label {
    cursor: pointer;
    display: block;
    padding: 10px 20px;
    margin: 0;
    color: rgb(0, 0, 0);
    position: relative;
    font-size: 15px;
    width: 100%;
}

label::after {
    content: "\271B";
    position: absolute;
    right: 15px;
    color: white;
    opacity: 0.5;
    font-weight: 100;
    font-size: 16px;
    top: 50%;
    transform: translateY(-50%);
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]:checked + label + .content {
    max-height: 100vh;
    visibility: visible;
    opacity: 1;
    padding: 20px;
}

input[type="checkbox"]:checked + label::after {
    content: "\268A";
}

.RightSideImage {
    position: absolute;
    width: 160px;
    right: -170px;
    top: 4%;
    animation-name: slide-in;
    animation-timeline: view();
    animation-fill-mode: forwards; /* Add this line */
}

@keyframes slide-in {
    from {right: -100px; opacity: 0;}
    to {right: 150px; opacity: 1;}
}
